<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">


	<bean id="product1" class ="com.phenom.org.product">
		<constructor-arg name="id" value="A-133"/>
		<constructor-arg name="name" value="13000"/>
		<constructor-arg name="descrpt" value="Hp lapiee"/>		
	</bean>
	
		<bean id="product2" class ="com.phenom.org.product">
		<constructor-arg name="id" value="B-133"/>
		<constructor-arg name="name" value="144000"/>
		<constructor-arg name="descrpt" value="Dell lapiee"/>		
	</bean>
	


</beans>
